*{
    margin: 0px;
}
body{
    background-color: white;
    color: black;
}
header{
    background-color: red;
    color: yellow;
}
header h4{
    text-indent: 10px;
}
header nav{
    text-align: right;
}
header nav ul li{
    display: inline-block;
    padding: 3px;
}
header nav ul li a{
    color: yellow;
}
hr{
    margin-top: 3px;
    height: 10px;
    width: 100%;
    background-color: red;
}
footer div{
    text-align: justify;
}
footer div h2{
    color: red;
}
footer div h3{
    text-indent: 20px;
    color: crimson;
}
footer div nav h3 a{
    color: cadetblue;
}
footer div nav h3 u{
    color: cadetblue;
}